extends admin_layout

block content
    table
        tr
            each field in unis[0]
                td= field
        each record in unis
            tr
                each field in unis[0]
                    td= record[field]
    table
        tr
            each field in facs[0]
                td= field
        each record in facs
            tr
                each field in facs[0]
                    td= record[field]
                                    
