extends layout

block content
    div(class="main__landing__wrapper",style="background-image:url('/img/main_bg.jpg'); position:relative;top: -70px; height: 100vh;")
        h1(style="color:white;width:100%;text-align:center;padding-top:40vh") Здря
        
    h1= title
    p Welcome to #{title} Keks
