doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    
    body
        block navbar
            div(class="navbar__wrapper")
                a(class="navbar__logo", href="/") Olymplan
                a(class="navbar__link", href="/uni") Университеты
                a(class="navbar__link", href="/contest") Олимпиады
                if isUserLoggedIn
                    a(class="navbar__userlink", href="/user") lole
                else
                    a(class="navbar__userlink", href="/user") Войти

        block content
