doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        //link(rel='stylesheet', href='//unpkg.com/purecss@1.0.0/build/pure-min.css')
        link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css')
    
    body
        block navbar
            div(class="navbar__wrapper")
                ul(class='pure-g')
                    li(class='pure-u-lg-1-4')
                        img(class="navbar__logo",src="/img/olymplan-logo-1-6-1.svg")
                    li(class='pure-u-lg-1-4')
                        a(class="navbar__link_uni", href="/uni") Университеты
                    li(class='pure-u-lg-1-4')
                        a(class="navbar__link_cont", href="/contest") Олимпиады
                    if isUserLoggedIn
                        li(class='pure-u-lg-1-4')
                            a(class="navbar__userlink", href="/user") lole
                    else
                        li(class='pure-u-lg-1-4')
                            a(class="navbar__userlink", href="/user") Войти

        block content
