extends layout

block content    
    link(rel='stylesheet',href="/stylesheets/boxes_demo.css")
    
    h1 Заголовок первого уровня
    h2 Заголовок второго уровня
    h3 Заголовок третьего уровня
    
    p Это рыба. Рыба моей мечты. Просто и безвкусно.
    
    p
        | Вытесняющий импульс подавляет и вытесняет из сознания человека все 
        | психические процессы, которые могут помешать полному отождествлению с
        | клеткой орануса. Он возникает, когда в психическом раздражителе отсутствуют
        | оральноанальные составляющие. <b>Вытесняющий импульс</b> — это глушилка-jammer,
        | который забивает передачу нежелательной радиостанции, генерируя интенсивные
        | помехи. Его действие великолепно выражено в пословицах: «Если ты такой
        | умный, почему такой бедный?», англ. <i>«If you are so clever show me your
        | money»</i> и <b>«Money talks, bullshit walks»</b> (дословно — «Деньги говорят, пустой
        | базар отдыхает»). Без этого воздействия оранус не мог бы заставить людей
        | выполнять роль своих клеток. Под действием вытесняющего импульса,
        | блокирующего все тонкие психические процессы, не связанные прямо с
        | движением денег, мир начинает восприниматься исключительно как воплощение
        | орануса. Это приводит к устрашающему результату. Вот как описал свои
        | видения один брокер с Лондонской биржи: <b><i>«Мир — это место, где бизнес
        | встречает деньги»</i></b>.
    
    
    h3 Кнопки
    
    button(class="button__empty") Нажмакай меня
    button(class="button__filled") Нажмакай меня    
    br
    input(type="submit",class="button__empty",value="Нажмакай меня")
    input(type="submit",class="button__filled",value="Нажмакай меня")
    br
    a(class="button__empty") Нажмакай меня
    a(class="button__filled") Нажмакай меня
    
    h3 Поп-апы
    
    div(class="message_box")
        p LOL
    
    h3 Формы
    
    input(type="checkbox")
    span(class="checkbox__label") Нет флага
    input(type="checkbox",checked="true")
    span(class="checkbox__label") Есть флаг
    
    br
    
    input(type="radio")
    span(class="radio__label") Нет флага
    input(type="radio",checked="true")
    span(class="radio__label") Есть флаг
    
    
    br
    
    input(type="text",placeholder="input[text]")

    div(class="demobox__wrapper")
        div(class="demobox__box__1")
        div(class="demobox__box__2")
        div(class="demobox__box__3")
        div(class="demobox__box__4")
        div(class="demobox__box__5")
