extends layout

block content

    table
        tr
            th Название
            th Шарага?
            th Описание

        each record in unis
            tr
                td= record.name
                td= record.is_sharaga ? 'да' : 'нет'
                td= record.description
