extends layout

block content

    table
        tr
            th Название
            th Шарага?
            th Описание
            th Факультеты

        each record in unis
            tr
                td= record.name
                td= record.is_sharaga ? 'да' : 'нет'
                td= record.description
                td
                    each fac in record.Faculties
                        a(href=fac.external_url)= fac.name + ", "
