extends ../layout

block content
    form
        h1(class="login__header") Вход
        input(type="input",placeholder="логин")
        input(type="password",placeholder="пароль")
        input(type="submit",value="Войти")
