extends ../layout

block content
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/js/user_login.js")
    
    // FIXME: add AJAX
    form(action="",method="post")
        h1(class="login__header") Вход
        input(type="text",placeholder="логин",name="login")
        input(type="password",placeholder="пароль",name="password")
        input(class="button__filled",type="submit",value="Войти")
