extends ../layout

block custom_head
    link(rel="stylesheet",href="stylesheets/register.css")

block content
    div(class="leftfield__message pure-u-lg-2-5")
        
        h2 Регистрация 1/2
        
    div(class="pure-u-lg-1-5")
        form(method="post",action="",class="register__form pure-u-lg-1")    
            h3 Отправка емейла
            
            div(class="message_box pure-u-lg-1")
                p E-Mail введен неверно
            
            input(type="text",placeholder="почта",class="pure-u-lg-1")
            //input(type="password",placeholder="пароль первый раз")
            //input(type="password",placeholder="пароль второй раз")
            a(class="button__empty",class="pure-u-lg-1") Отправить
