$color-gray: #555

body
    color: $color-gray

._is_hidden
    display: none

.admin__wrapper
    width: 800px
    margin-left: auto
    margin-right: auto

    .elem__wrapper
        border: 1px solid $color-gray
        border-radius: 5px
        padding: 0 1em
        margin-top: 1em
