$font-h: Exo 2, sans-serif
$font-main: PT Sans, sans-serif
$main-border-color: #999971
$infobox-color: #FFDC57
$box-border-color: #318ECC
$box-fill-color: #97BAFF

body
    @import url('https://fonts.googleapis.com/css?family=Exo+2|PT+Sans')
    font-family: $font-main

h1
    font-family: $font-h
    font-size: 22px
