$font-h: 'Exo 2', sans-serif
$font-main: PT Sans, sans-serif
$main-border-color: #999971
$infobox-color: #FFDC57
$box-border-color: #318ECC
$box-fill-color: #97BAFF
$navbar-border: #999971
$navbar-size: 50px
$button-empty-hover-color: #C7D3FF
$button-empty-active-color: #A1B6FF
$button-active-border-color: #256d9c
$button-filled-hover-color: #7c97cc
$button-filled-active-color: #667ba5
$messagebox-color: #ff2b2b

body
    @import url('https://fonts.googleapis.com/css?family=Exo+2|PT+Sans')
    padding-top: $navbar-size
    font-family: $font-main
    margin: 0
    color: #2b2b2b

    .wrapper
        padding: 30px

    h1
        font-family: $font-h
        font-size: 28px

    h2
        font-family: $font-h
        font-size: 24px

    h3
        font-family: $font-h
        font-size: 20px

    p
        font-size: 16px
        margin: 0

    ul,ol
        margin: 0

    .button__empty
        border: $box-border-color solid 2px
        border-radius: 5px
        padding: 5px 15px 5px 15px
        background-color: white
        font-size: 16px
        font-family: $font-main
        margin: 1em
        color: #2b2b2b
        cursor: pointer
        font-weight: bold

    .button__empty:hover
        background-color: #C7D3FF

    .button__empty:active
        background-color: #A1B6FF
        border: $button-active-border-color solid 2px

    .button__filled
        border: $box-border-color solid 2px
        border-radius: 5px
        padding: 5px 15px 5px 15px
        background-color: $box-fill-color
        font-size: 16px
        font-family: $font-main
        margin: 1em
        color: #2b2b2b
        cursor: pointer
        font-weight: bold

    .button__filled:hover
        background-color: #7c97cc

    .button__filled:active
        background-color: #667ba5
        border: $button-active-border-color solid 2px

    .infobox
        border: white solid 2px
        background-color: $infobox-color
        border-radius: 5px
        padding: 0.5em 2em 0.5em 2em
        font-weight: bold
        text-align: center

    .message_box
        border: $messagebox-color solid 2px
        border-radius: 5px
        padding: 0.5em 2em 0.5em 2em
        font-weight: bold
        text-align: center

    .checkbox__label
        padding: 3px


    .radio__label
        padding: 3px

    input[type=text]
        box-sizing: border-box
        background-color: #e3e3e3
        border: 2px solid black
        border-radius: 5px
        padding: 7px
        margin: 0px
        outline: none
        font-size: 16px

    input[type=text]:hover
        background-color: #f0f0f0

    input[type=text]:focus
        background-color: white
