@import url("https://fonts.googleapis.com/css?family=Exo+2|PT+Sans");
body {
  padding-top: 50px;
  font-family: PT Sans, sans-serif;
  margin: 0;
  color: #2b2b2b; }
  body .wrapper {
    padding: 30px; }
  body h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 28px; }
  body h2 {
    font-family: "Exo 2", sans-serif;
    font-size: 24px; }
  body h3 {
    font-family: "Exo 2", sans-serif;
    font-size: 20px; }
  body p {
    font-size: 16px;
    margin: 0; }
  body ul, body ol {
    margin: 0; }
  body .button__empty {
    border: #318ECC solid 2px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    font-size: 16px;
    font-family: PT Sans, sans-serif;
    margin: 1em;
    color: #2b2b2b;
    cursor: pointer;
    font-weight: bold; }
  body .button__empty:hover {
    background-color: #C7D3FF; }
  body .button__empty:active {
    background-color: #A1B6FF;
    border: #256d9c solid 2px; }
  body .button__filled {
    border: #318ECC solid 2px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    background-color: #97BAFF;
    font-size: 16px;
    font-family: PT Sans, sans-serif;
    margin: 1em;
    color: #2b2b2b;
    cursor: pointer;
    font-weight: bold; }
  body .button__filled:hover {
    background-color: #7c97cc; }
  body .button__filled:active {
    background-color: #667ba5;
    border: #256d9c solid 2px; }
  body .infobox {
    border: white solid 2px;
    background-color: #FFDC57;
    border-radius: 5px;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: bold;
    text-align: center; }
  body .message_box {
    border: #ff2b2b solid 2px;
    border-radius: 5px;
    padding: 0.5em 2em 0.5em 2em;
    font-weight: bold;
    text-align: center; }
  body .checkbox__label {
    padding: 3px; }
  body .radio__label {
    padding: 3px; }
  body input[type=text] {
    box-sizing: border-box;
    background-color: #e3e3e3;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px;
    margin: 0px;
    outline: none;
    font-size: 16px; }
  body input[type=text]:hover {
    background-color: #f0f0f0; }
  body input[type=text]:focus {
    background-color: white; }

.navbar__wrapper {
  border-bottom: #999971 solid 3px;
  text-align: center;
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: white; }
  .navbar__wrapper a {
    text-decoration: none;
    color: BLACK;
    text-transform: none; }
  .navbar__wrapper a:hover {
    color: #2b2b2b; }
  .navbar__wrapper ul {
    flex-direction: row;
    justify-content: space-around;
    position: relative; }
    .navbar__wrapper ul li {
      display: inline-table;
      font-family: "Exo 2", sans-serif; }
  .navbar__wrapper .navbar__logo {
    float: left;
    height: 50px;
    width: 100px;
    padding-right: 10em; }
  .navbar__wrapper .navbar__link_uni {
    float: none;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em; }
  .navbar__wrapper .navbar__link_cont {
    float: none;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em; }
  .navbar__wrapper .navbar__userlink {
    float: right;
    text-align: right;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em; }

/*# sourceMappingURL=style.css.map */